/*body{*/


/*    margin: 0;*/


/*    padding: 0;*/


/*    box-sizing: border-box;*/


/*}*/

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

[class*='col-'] {
    padding: 0;
}

.left-image {
    overflow: hidden;
    max-width: 100%;
}

span {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    font-size: 10em;
    color: red;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.err {
    visibility: visible;
    opacity: 1;
}

h4 {
    text-align: center;
    margin-block: 1em;
}

.form-group {
    display: flex;
    margin-top: 1em;
}

.form-group>label,
.form-group>p:first-child {
    text-align: center;
    flex: 1;
}

.form-group>* {
    flex: 2;
}

.percent-box {
    display: flex;
}

.percent-box>* {
    flex: 1;
}

button.btn {
    width: 80%;
    display: block;
    margin: 0 auto;
}